## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
# 設定 data_path
dir_data = './data/'

In [4]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [14]:
print('row:',format(len(app_train.index)))
print('colunm:',format(len(app_train.columns)))

row: 307511
colunm: 122

#### 列出所有欄位

In [15]:
column=app_train.columns
print('欄位:',column)

欄位: Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [16]:
app_train.iloc[0:99,0:20]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,454500.0,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,0.035792,-16941,-1588,-4970.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,1395000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.035792,-13778,-3130,-1213.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,1530000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.003122,-18850,-449,-4597.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,913500.0,Children,Pensioner,Secondary / secondary special,Married,House / apartment,0.018634,-20099,365243,-7427.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,405000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019689,-14469,-2019,-14437.0
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,652500.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.022800,-10197,-679,-4427.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,135000.0,Children,Pensioner,Secondary / secondary special,Married,House / apartment,0.015221,-20417,365243,-5246.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,67500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.031329,-13439,-2717,-311.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,697500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.016612,-14086,-3028,-643.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,679500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010006,-14583,-203,-615.0
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,247500.0,Family,Working,Secondary / secondary special,Single / not married,Rented apartment,0.020713,-8728,-1157,-3494.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,387000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.018634,-12931,-1317,-6392.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010966,-9776,-191,-4143.0
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,157500.0,Other_A,Working,Secondary / secondary special,Widow,House / apartment,0.046220,-17718,-7804,-8751.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,454500.0,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,0.015221,-11348,-2038,-1021.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,427500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.015221,-18252,-4286,-298.0
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,927000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.025164,-14815,-1652,-2299.0
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,450000.0,Unaccompanied,Working,Secondary / secondary special,Married,Rented apartment,0.020713,-11146,-4306,-114.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.006296,-24827,365243,-9012.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,247500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.026392,-11286,-746,-108.0
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,225000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.028663,-19334,-3494,-2419.0
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,702000.0,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,0.018029,-18724,-2628,-6573.0
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,270000.0,Family,Working,Secondary / secondary special,Married,House / apartment,0.019101,-15948,-1234,-5782.0
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,675000.0,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,0.046220,-9994,-1796,-4668.0
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,180000.0,Unaccompanied,Working,Higher education,Single / not married,With parents,0.030755,-10341,-1010,-4799.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,100081,0,Cash loans,M,Y,N,0,180000.000,450000.0,21109.5,450000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,0.014520,-10848,-121,-4809.0
70,100082,0,Cash loans,M,N,N,2,180000.000,450000.0,21109.5,450000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.018850,-12009,-2844,-1377.0
71,100083,0,Cash loans,M,Y,Y,0,103500.000,573628.5,24435.0,463500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.009657,-15406,-892,-341.0
72,100084,0,Cash loans,M,N,Y,2,225000.000,495351.0,26140.5,459000.0,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,0.024610,-14860,-1156,-23.0
73,100085,0,Cash loans,M,N,Y,1,157500.000,755190.0,28894.5,675000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.016612,-11187,-2224,-3253.0
74,100086,0,Cash loans,F,N,Y,1,135000.000,675000.0,21775.5,675000.0,Unaccompanied,Commercial associate,Higher education,Widow,House / apartment,0.019101,-14264,-2492,-4327.0
75,100087,0,Cash loans,F,N,Y,1,202500.000,1288350.0,37800.0,1125000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.003069,-17542,-2011,-1529.0
76,100088,0,Revolving loans,F,N,N,0,112500.000,135000.0,6750.0,135000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.022800,-19467,-4066,-4623.0
77,100089,0,Cash loans,M,N,Y,0,135000.000,337761.0,15781.5,256500.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.025164,-9666,-2811,-4437.0
78,100093,0,Cash loans,F,N,Y,1,94500.000,585000.0,28273.5,585000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.028663,-18253,-721,-1701.0
79,100094,0,Cash loans,F,N,Y,0,108000.000,113760.0,5301.0,90000.0,Unaccompanied,Pensioner,Higher education,Single / not married,House / apartment,0.030755,-22935,365243,-12623.0
80,100095,0,Revolving loans,F,N,Y,2,67500.000,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.020246,-18693,-1434,-10255.0
81,100096,1,Cash loans,F,N,Y,0,81000.000,252000.0,14593.5,252000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.028663,-24794,365243,-5391.0
82,100097,0,Cash loans,M,Y,Y,0,157500.000,760225.5,30280.5,679500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-17527,-2442,-3500.0
83,100098,0,Revolving loans,M,Y,N,0,225000.000,270000.0,13500.0,270000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.018850,-17390,-924,-7211.0
84,100099,0,Cash loans,F,N,Y,0,360000.000,733315.5,41076.0,679500.0,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,0.009175,-23032,365243,-9506.0
85,100100,0,Cash loans,M,Y,Y,2,202500.000,796396.5,38443.5,643500.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.008019,-15909,-1094,-3134.0
86,100101,0,Cash loans,F,Y,Y,0,202500.000,343377.0,22072.5,283500.0,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,0.072508,-18138,-969,-7421.0
87,100102,0,Cash loans,F,N,N,1,126000.000,327024.0,10264.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.024610,-14321,-192,-6913.0
88,100103,0,Cash loans,F,N,Y,0,72000.000,450000.0,16965.0,450000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.009175,-21112,-1694,-6057.0
89,100104,0,Cash loans,F,N,Y,0,90000.000,547344.0,30690.0,472500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.022625,-18556,-862,-6769.0
90,100105,0,Cash loans,F,N,Y,0,193500.000,225000.0,23755.5,225000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.031329,-19810,-8862,-4493.0
91,100108,0,Cash loans,F,N,Y,3,171000.000,545040.0,31288.5,450000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-12780,-1415,-5146.0
92,100110,0,Cash loans,M,Y,Y,3,135000.000,373140.0,25065.0,337500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.035792,-10744,-741,-442.0
93,100111,0,Cash loans,F,Y,N,1,112500.000,862560.0,27954.0,720000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,With parents,0.022800,-10485,-1249,-4628.0
94,100112,1,Cash loans,M,Y,Y,0,315000.000,953460.0,64107.0,900000.0,Family,Commercial associate,Incomplete higher,Single / not married,With parents,0.030755,-10199,-2015,-4802.0
95,100113,0,Cash loans,M,Y,N,0,76500.000,135000.0,6696.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-15137,-7980,-9176.0
96,100114,0,Cash loans,F,N,Y,0,135000.000,284400.0,22599.0,225000.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.030755,-10734,-693,-7913.0
97,100115,0,Cash loans,F,N,N,0,90000.000,315000.0,14683.5,315000.0,"Spouse, partner",Working,Secondary / secondary special,Married,House / apartment,0.028663,-15371,-367,-3071.0
98,100116,0,Cash loans,F,N,Y,0,243000.000,900000.0,32017.5,900000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010006,-14751,-6737,-3390.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [29]:
app_train.dtypes #讀取column資料型態

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [43]:
Condition = np.logical_and(app_train['NAME_INCOME_TYPE']== 'Working',app_train['NAME_FAMILY_STATUS']== 'Married') 
#擷取兩個情況是否符合條件
app_train[Condition]
#列出上面條件的資料

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
10,100014,0,Cash loans,F,N,Y,1,112500.0,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
12,100016,0,Cash loans,F,N,Y,0,67500.0,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.0,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.0,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
16,100020,0,Cash loans,M,N,N,0,108000.0,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20,100024,0,Revolving loans,M,Y,Y,0,135000.0,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
22,100026,0,Cash loans,F,N,N,1,450000.0,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
24,100029,0,Cash loans,M,Y,N,2,135000.0,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,Cash loans,F,N,Y,0,90000.0,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
27,100032,0,Cash loans,M,N,Y,1,112500.0,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
35,100041,0,Cash loans,F,N,N,0,112500.0,450000.0,44509.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
37,100044,0,Cash loans,M,N,Y,0,121500.0,454500.0,15151.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
39,100046,0,Revolving loans,M,Y,Y,0,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
41,100048,0,Cash loans,F,N,Y,0,202500.0,604152.0,29196.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
47,100054,0,Cash loans,F,N,Y,0,99000.0,260640.0,26838.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
49,100056,0,Cash loans,M,Y,Y,0,360000.0,1506816.0,49927.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
52,100060,0,Cash loans,M,Y,N,0,76500.0,454500.0,14661.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
55,100063,0,Cash loans,F,N,Y,0,180000.0,837427.5,45558.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
57,100068,0,Revolving loans,M,N,Y,0,81000.0,247500.0,12375.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
71,100083,0,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
73,100085,0,Cash loans,M,N,Y,1,157500.0,755190.0,28894.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
75,100087,0,Cash loans,F,N,Y,1,202500.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
78,100093,0,Cash loans,F,N,Y,1,94500.0,585000.0,28273.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
80,100095,0,Revolving loans,F,N,Y,2,67500.0,135000.0,6750.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
82,100097,0,Cash loans,M,Y,Y,0,157500.0,760225.5,30280.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
85,100100,0,Cash loans,M,Y,Y,2,202500.0,796396.5,38443.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
88,100103,0,Cash loans,F,N,Y,0,72000.0,450000.0,16965.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
89,100104,0,Cash loans,F,N,Y,0,90000.0,547344.0,30690.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
90,100105,0,Cash loans,F,N,Y,0,193500.0,225000.0,23755.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307421,456154,0,Cash loans,M,Y,Y,0,157500.0,144000.0,9751.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307432,456165,0,Cash loans,M,N,Y,0,135000.0,840951.0,42934.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307435,456173,0,Cash loans,M,Y,Y,0,189000.0,675000.0,19737.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307436,456174,0,Cash loans,F,N,N,2,135000.0,215640.0,17064.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307439,456177,0,Cash loans,M,N,Y,0,247500.0,900000.0,50386.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307442,456180,0,Cash loans,M,Y,Y,1,135000.0,90000.0,9580.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307444,456182,0,Revolving loans,F,N,Y,2,90000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307447,456185,0,Cash loans,F,N,Y,0,135000.0,528633.0,22527.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
307448,456186,1,Cash loans,M,N,N,1,207000.0,450000.0,32746.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307449,456187,0,Cash loans,M,Y,Y,1,315000.0,1175314.5,38974.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307452,456191,0,Cash loans,F,Y,N,2,153000.0,1350000.0,46926.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0
307453,456192,0,Cash loans,F,N,N,1,135000.0,450000.0,24412.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307456,456195,0,Cash loans,F,Y,Y,0,94500.0,270000.0,15075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307458,456197,0,Cash loans,F,N,Y,0,112500.0,239850.0,23364.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307461,456200,0,Cash loans,F,N,N,1,157500.0,463500.0,16645.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307462,456201,0,Cash loans,F,Y,Y,3,135000.0,1024785.0,57222.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307467,456207,0,Revolving loans,F,N,Y,0,247500.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307470,456210,0,Cash loans,F,N,Y,0,90000.0,270000.0,10309.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307471,456211,0,Cash loans,F,N,Y,2,112500.0,592560.0,32274.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
307473,456213,0,Cash loans,F,Y,Y,1,90000.0,258709.5,20439.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307476,456216,0,Cash loans,F,N,N,2,135000.0,1762110.0,48456.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307479,456219,0,Cash loans,F,N,Y,1,112500.0,521280.0,31630.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307481,456225,1,Cash loans,M,N,Y,0,225000.0,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307492,456236,0,Cash loans,M,Y,Y,0,585000.0,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307493,456237,0,Cash loans,F,N,Y,0,135000.0,946764.0,37678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307495,456239,0,Cash loans,M,Y,N,0,180000.0,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307496,456240,0,Revolving loans,F,N,N,0,360000.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307497,456241,0,Cash loans,F,Y,Y,0,180000.0,270126.0,12028.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307500,456244,0,Cash loans,F,N,Y,0,261000.0,1303812.0,35982.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307502,456246,0,Cash loans,F,N,Y,1,94500.0,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0