In [1]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split

data_path = './'
df_train = pd.read_csv(data_path + 'train.csv',header=None)
df_test = pd.read_csv(data_path + 'test.csv',header=None)
df_trainlabels = pd.read_csv(data_path + 'trainLabels.csv',header=None)

print(df_train.shape)
print(df_test.shape)
print(df_trainlabels.shape)

(1000, 40)
(9000, 40)
(1000, 1)

In [2]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
0     1000 non-null float64
1     1000 non-null float64
2     1000 non-null float64
3     1000 non-null float64
4     1000 non-null float64
5     1000 non-null float64
6     1000 non-null float64
7     1000 non-null float64
8     1000 non-null float64
9     1000 non-null float64
10    1000 non-null float64
11    1000 non-null float64
12    1000 non-null float64
13    1000 non-null float64
14    1000 non-null float64
15    1000 non-null float64
16    1000 non-null float64
17    1000 non-null float64
18    1000 non-null float64
19    1000 non-null float64
20    1000 non-null float64
21    1000 non-null float64
22    1000 non-null float64
23    1000 non-null float64
24    1000 non-null float64
25    1000 non-null float64
26    1000 non-null float64
27    1000 non-null float64
28    1000 non-null float64
29    1000 non-null float64
30    1000 non-null float64
31    1000 non-null float64
32    1000 non-null float64
33    1000 non-null float64
34    1000 non-null float64
35    1000 non-null float64
36    1000 non-null float64
37    1000 non-null float64
38    1000 non-null float64
39    1000 non-null float64
dtypes: float64(40)
memory usage: 312.6 KB

In [3]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.850465,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,-0.819750,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,-0.604501,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.022959,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,0.513906,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332

In [4]:
df_trainlabels.head()

   0
0  1
1  0
2  0
3  1
4  0

In [5]:
x, y = df_train, np.ravel(df_trainlabels)
x_train,X_test,y_train,y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [6]:
from sklearn.ensemble import RandomForestClassifier
# 建立模型 (使用 2顆樹，每棵樹的最大深度為 1)
clf = RandomForestClassifier()

# 訓練模型
clf.fit(x_train, y_train)

# 預測測試集
y_pred = clf.predict(df_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [7]:
y_pred.shape

(9000,)

In [8]:
Ids = np.arange(1,y_pred.shape[0]+1)
Ids

array([   1,    2,    3, ..., 8998, 8999, 9000])

In [9]:
submission = pd.DataFrame({'Id': Ids, 'Solution':y_pred})
submission.to_csv('submission.csv', index=False)