In [1]:
import os
import numpy as np
import pandas as pd
from datetime import date

from sklearn.model_selection import KFold, train_test_split, StratifiedKFold, cross_val_score, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import log_loss, roc_auc_score, auc, roc_curve
from sklearn.preprocessing import MinMaxScaler

DATA_ROOT = "./"

In [2]:
dfoff = pd.read_csv(os.path.join(DATA_ROOT,'train_offline.csv'))
dftest = pd.read_csv(os.path.join(DATA_ROOT,'test_offline.csv'))
dftest = dftest[~dftest.Coupon_id.isna()]
dftest.reset_index(drop=True, inplace=True)
print(dfoff.shape)
print(dftest.shape)
dfoff.head(20)

(1160742, 7)
(306313, 6)

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
2,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
3,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN
4,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN
5,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN
6,73611,2099,12034.0,100:10,NaN,20160207.0,NaN
7,163606,1569,5054.0,200:30,10.0,20160421.0,NaN
8,3273056,4833,7802.0,200:20,10.0,20160130.0,NaN
9,94107,3381,7610.0,200:20,2.0,20160412.0,NaN
10,253750,8390,NaN,NaN,0.0,NaN,20160327.0
11,253750,8390,7531.0,20:5,0.0,20160327.0,NaN
12,376492,1041,13490.0,30:5,2.0,20160127.0,NaN
13,1964720,7884,NaN,NaN,10.0,NaN,20160115.0
14,1964720,7884,6704.0,20:1,10.0,20160215.0,NaN
15,1113008,1041,NaN,NaN,2.0,NaN,20160114.0
16,1113008,1041,11197.0,30:5,2.0,20160114.0,NaN
17,2881376,5341,111.0,30:5,1.0,20160207.0,NaN
18,2881376,8390,7531.0,20:5,0.0,20160321.0,20160329.0
19,2881376,5341,111.0,30:5,1.0,20160207.0,NaN

In [3]:
## Creat target label 
"""
According to the definition, 
1) buy with coupon within (include) 15 days ==> 1
2) buy with coupon but out of 15 days ==> 0
3) buy without coupon ==> -1 (we don't care)
"""
def label(row):
    if np.isnan(row['Date_received']):
        return -1
    if not np.isnan(row['Date']):
        td = pd.to_datetime(row['Date'], format='%Y%m%d') -  pd.to_datetime(row['Date_received'], format='%Y%m%d')
        if td <= pd.Timedelta(15, 'D'):
            return 1
    return 0

dfoff["label"] = dfoff.apply(label, axis=1)
dfoff["label"].value_counts()

 0    710665
-1    413773
 1     36304
Name: label, dtype: int64

In [4]:
# Generate features - weekday acquired coupon
def getWeekday(row):
    if (np.isnan(row)) or (row==-1):
        return row
    else:
        return pd.to_datetime(row, format = "%Y%m%d").dayofweek+1 # add one to make it from 0~6 -> 1~7

dfoff['weekday'] = dfoff['Date_received'].apply(getWeekday)
dftest['weekday'] = dftest['Date_received'].apply(getWeekday)

# weekday_type (weekend = 1)
dfoff['weekday_type'] = dfoff['weekday'].astype('str').apply(lambda x : 1 if x in [6,7] else 0 ) # apply to trainset
dftest['weekday_type'] = dftest['weekday'].astype('str').apply(lambda x : 1 if x in [6,7] else 0 ) # apply to testset

In [5]:
weekdaycols = ['weekday_' + str(i) for i in range(1,8)]
print(weekdaycols)

tmpdf = pd.get_dummies(dfoff['weekday'].replace(-1, np.nan))
tmpdf.columns = weekdaycols
dfoff[weekdaycols] = tmpdf

tmpdf = pd.get_dummies(dftest['weekday'].replace(-1, np.nan))
tmpdf.columns = weekdaycols
dftest[weekdaycols] = tmpdf

['weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'weekday_7']

In [6]:
# Generate features - coupon discount and distance
def getDiscountType(row):
    if row == 'null':
        return 'null'
    elif ':' in row:
        return 1
    else:
        return 0

def convertRate(row):
    """Convert discount to rate"""
    if row == 'null':
        return 1.0
    elif ':' in row:
        rows = row.split(':')
        return 1.0 - float(rows[1])/float(rows[0])
    else:
        return float(row)

def getDiscountMan(row):
    if ':' in row:
        rows = row.split(':')
        return int(rows[0])
    else:
        return 0

def getDiscountJian(row):
    if ':' in row:
        rows = row.split(':')
        return int(rows[1])
    else:
        return 0

def processData(df):
    
    # convert discunt_rate
    df['discount_rate'] = df['Discount_rate'].astype('str').apply(convertRate)
    df['discount_man'] = df['Discount_rate'].astype('str').apply(getDiscountMan)
    df['discount_jian'] = df['Discount_rate'].astype('str').apply(getDiscountJian)
    df['discount_type'] = df['Discount_rate'].astype('str').apply(getDiscountType)
    
    # convert distance
    df.loc[df.Distance.isna(), "Distance"] = 99
    return df

dfoff = processData(dfoff)
dftest = processData(dftest)

In [7]:
dfoff['DistanceZero'] = dfoff['discount_type']
dfoff['DistanceNintynine'] = dfoff['discount_type']
dfoff['DiscountMax'] = dfoff['Discount_rate']

In [8]:
for i in range(dfoff['Distance'].size) :
    if dfoff['Distance'].values[i] == 99 :
        dfoff['DistanceNintynine'].values[i] = 1
    else :
        dfoff['DistanceNintynine'].values[i] = 0
    if dfoff['Distance'].values[i] == 0:
        dfoff['DistanceZero'].values[i] = 1
    else :
        dfoff['DistanceZero'].values[i] = 0

In [9]:
for i in range(dfoff['discount_man'].size) :
    if dfoff['discount_man'].values[i] < 100 :
        dfoff['DiscountMax'].values[i] = 1
    else :
        dfoff['DiscountMax'].values[i] = 0

In [10]:
dfoff.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,label,weekday,weekday_type,...,weekday_5,weekday_6,weekday_7,discount_rate,discount_man,discount_jian,discount_type,DistanceZero,DistanceNintynine,DiscountMax
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0,-1,NaN,0,...,0,0,0,NaN,0,0,0,1,0,1
1,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN,0,3.0,0,...,0,0,0,0.95,20,1,1,1,0,1
2,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN,0,6.0,0,...,0,1,0,0.95,20,1,1,1,0,1
3,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN,0,5.0,0,...,1,0,0,0.90,200,20,1,1,0,0
4,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN,0,5.0,0,...,1,0,0,0.90,200,20,1,0,0,0

In [11]:
dfoff['discount_rate'] = dfoff['discount_rate'].fillna(dfoff['discount_rate'].mean())
dfoff['weekday'] = dfoff['weekday'].fillna(dfoff['weekday'].mode())

In [12]:
## Naive model
def split_train_valid(row, date_cut="20160416"):
    is_train = True if pd.to_datetime(row, format="%Y%m%d") < pd.to_datetime(date_cut, format="%Y%m%d") else False
    return is_train
    
df = dfoff[dfoff['label'] != -1].copy()
df["is_train"] = df["Date_received"].apply(split_train_valid)
train = df[df["is_train"]]
valid = df[~df["is_train"]]
train.reset_index(drop=True, inplace=True)
valid.reset_index(drop=True, inplace=True)
print("Train size: {}, #positive: {}".format(len(train), train["label"].sum()))
print("Valid size: {}, #positive: {}".format(len(valid), valid["label"].sum()))

Train size: 667753, #positive: 32472
Valid size: 79216, #positive: 3832

In [13]:
train[~train['Date'].isna()]

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,label,weekday,weekday_type,...,weekday_6,weekday_7,discount_rate,discount_man,discount_jian,discount_type,DistanceZero,DistanceNintynine,DiscountMax,is_train
12,2881376,8390,7531.0,20:5,0.0,20160321.0,20160329.0,1,1.0,0,...,0,0,0.750000,20,5,1,1,0,1,True
28,114747,5341,111.0,30:5,0.0,20160127.0,20160221.0,0,3.0,0,...,0,0,0.833333,30,5,1,1,0,1,True
29,114747,5341,111.0,30:5,0.0,20160207.0,20160218.0,1,7.0,0,...,0,1,0.833333,30,5,1,1,0,1,True
30,114747,5341,7751.0,50:10,0.0,20160127.0,20160128.0,1,3.0,0,...,0,0,0.800000,50,10,1,1,0,1,True
34,114747,2454,8088.0,20:5,0.0,20160324.0,20160331.0,1,4.0,0,...,0,0,0.750000,20,5,1,1,0,1,True
40,114747,3381,9776.0,10:5,0.0,20160129.0,20160221.0,0,5.0,0,...,0,0,0.500000,10,5,1,1,0,1,True
73,205174,1169,4627.0,50:20,0.0,20160206.0,20160214.0,1,6.0,0,...,1,0,0.600000,50,20,1,1,0,1,True
111,1380272,2099,12034.0,100:10,1.0,20160201.0,20160205.0,1,1.0,0,...,0,0,0.900000,100,10,1,0,0,0,True
112,1380272,5341,7751.0,50:10,0.0,20160201.0,20160206.0,1,1.0,0,...,0,0,0.800000,50,10,1,1,0,1,True
116,1380272,5341,111.0,30:5,0.0,20160201.0,20160205.0,1,1.0,0,...,0,0,0.833333,30,5,1,1,0,1,True
121,94491,2786,13163.0,30:10,8.0,20160321.0,20160327.0,1,1.0,0,...,0,0,0.666667,30,10,1,0,0,1,True
132,756312,6485,10323.0,20:5,0.0,20160323.0,20160324.0,1,3.0,0,...,0,0,0.750000,20,5,1,1,0,1,True
133,756312,6485,10323.0,20:5,0.0,20160323.0,20160329.0,1,3.0,0,...,0,0,0.750000,20,5,1,1,0,1,True
223,222550,3381,9776.0,10:5,0.0,20160129.0,20160214.0,0,5.0,0,...,0,0,0.500000,10,5,1,1,0,1,True
238,165334,450,8555.0,30:5,0.0,20160131.0,20160223.0,0,7.0,0,...,0,1,0.833333,30,5,1,1,0,1,True
241,1454000,4142,4773.0,100:10,0.0,20160127.0,20160210.0,1,3.0,0,...,0,0,0.900000,100,10,1,1,0,0,True
279,3045728,3293,11364.0,30:5,0.0,20160228.0,20160305.0,1,7.0,0,...,0,1,0.833333,30,5,1,1,0,1,True
280,3045728,3293,11364.0,30:5,0.0,20160305.0,20160308.0,1,6.0,0,...,1,0,0.833333,30,5,1,1,0,1,True
300,74955,1520,8140.0,0.95,99.0,20160229.0,20160302.0,1,1.0,0,...,0,0,0.950000,0,0,0,0,1,1,True
329,994008,4142,4773.0,100:10,0.0,20160126.0,20160129.0,1,2.0,0,...,0,0,0.900000,100,10,1,1,0,0,True
330,994008,4142,4773.0,100:10,0.0,20160124.0,20160126.0,1,7.0,0,...,0,1,0.900000,100,10,1,1,0,0,True
331,994008,4142,4773.0,100:10,0.0,20160129.0,20160202.0,1,5.0,0,...,0,0,0.900000,100,10,1,1,0,0,True
340,1398704,924,10164.0,0.95,99.0,20160314.0,20160315.0,1,1.0,0,...,0,0,0.950000,0,0,0,0,1,1,True
405,1469360,3283,1531.0,10:5,0.0,20160326.0,20160329.0,1,6.0,0,...,1,0,0.500000,10,5,1,1,0,1,True
406,1469360,3283,1531.0,10:5,0.0,20160326.0,20160328.0,1,6.0,0,...,1,0,0.500000,10,5,1,1,0,1,True
439,67467,1169,10929.0,200:30,0.0,20160128.0,20160129.0,1,4.0,0,...,0,0,0.850000,200,30,1,1,0,0,True
462,1346225,1379,1579.0,30:5,0.0,20160326.0,20160401.0,1,6.0,0,...,1,0,0.833333,30,5,1,1,0,1,True
503,6986436,6021,4448.0,20:5,1.0,20160414.0,20160421.0,1,4.0,0,...,0,0,0.750000,20,5,1,0,0,1,True
512,5941956,5341,111.0,30:5,0.0,20160203.0,20160209.0,1,3.0,0,...,0,0,0.833333,30,5,1,1,0,1,True
522,6212292,3710,10263.0,100:10,2.0,20160202.0,20160220.0,0,2.0,0,...,0,0,0.900000,100,10,1,0,0,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667259,3828062,3532,6521.0,50:5,0.0,20160109.0,20160114.0,1,6.0,0,...,1,0,0.900000,50,5,1,1,0,1,True
667261,3828062,3532,6521.0,50:5,0.0,20160114.0,20160119.0,1,4.0,0,...,0,0,0.900000,50,5,1,1,0,1,True
667262,3828062,3532,883.0,50:5,0.0,20160214.0,20160313.0,0,7.0,0,...,0,1,0.900000,50,5,1,1,0,1,True
667290,3975518,3381,12821.0,200:20,0.0,20160126.0,20160229.0,0,2.0,0,...,0,0,0.900000,200,20,1,1,0,0,True
667323,3596126,3381,11951.0,200:20,0.0,20160128.0,20160128.0,1,4.0,0,...,0,0,0.900000,200,20,1,1,0,0,True
667324,3596126,3381,9481.0,300:30,0.0,20160128.0,20160215.0,0,4.0,0,...,0,0,0.900000,300,30,1,1,0,0,True
667328,2060975,7555,5582.0,30:5,0.0,20160122.0,20160130.0,1,5.0,0,...,0,0,0.833333,30,5,1,1,0,1,True
667330,2060975,7555,9871.0,30:5,0.0,20160409.0,20160417.0,1,6.0,0,...,1,0,0.833333,30,5,1,1,0,1,True
667382,3741536,760,3811.0,30:5,0.0,20160326.0,20160404.0,1,6.0,0,...,1,0,0.833333,30,5,1,1,0,1,True
667383,3741536,760,3811.0,30:5,0.0,20160326.0,20160401.0,1,6.0,0,...,1,0,0.833333,30,5,1,1,0,1,True
667395,201334,171,10503.0,30:5,0.0,20160130.0,20160212.0,1,6.0,0,...,1,0,0.833333,30,5,1,1,0,1,True
667400,3090272,3338,13091.0,20:5,2.0,20160326.0,20160404.0,1,6.0,0,...,1,0,0.750000,20,5,1,0,0,1,True
667432,1089200,5341,111.0,30:5,99.0,20160219.0,20160219.0,1,5.0,0,...,0,0,0.833333,30,5,1,0,1,1,True
667435,201718,7555,9871.0,30:5,3.0,20160330.0,20160404.0,1,3.0,0,...,0,0,0.833333,30,5,1,0,0,1,True
667441,242710,4600,8765.0,200:10,0.0,20160314.0,20160326.0,1,1.0,0,...,0,0,0.950000,200,10,1,1,0,0,True
667447,403756,209,12683.0,100:20,0.0,20160219.0,20160315.0,0,5.0,0,...,0,0,0.800000,100,20,1,1,0,0,True
667448,403756,209,2296.0,100:30,0.0,20160205.0,20160219.0,1,5.0,0,...,0,0,0.700000,100,30,1,1,0,0,True
667450,403756,2702,2320.0,0.95,1.0,20160205.0,20160205.0,1,5.0,0,...,0,0,0.950000,0,0,0,0,0,1,True
667472,453484,1941,4927.0,30:5,0.0,20160322.0,20160328.0,1,2.0,0,...,0,0,0.833333,30,5,1,1,0,1,True
667502,3766112,8292,4926.0,20:5,0.0,20160322.0,20160328.0,1,2.0,0,...,0,0,0.750000,20,5,1,1,0,1,True
667513,4160864,3381,9776.0,10:5,0.0,20160129.0,20160129.0,1,5.0,0,...,0,0,0.500000,10,5,1,1,0,1,True
667537,121947,1433,8735.0,30:5,0.0,20160211.0,20160216.0,1,4.0,0,...,0,0,0.833333,30,5,1,1,0,1,True
667540,746328,1041,11197.0,30:5,0.0,20160113.0,20160125.0,1,3.0,0,...,0,0,0.833333,30,5,1,1,0,1,True
667541,746328,1041,11197.0,30:5,0.0,20160107.0,20160113.0,1,4.0,0,...,0,0,0.833333,30,5,1,1,0,1,True
667542,746328,1041,11197.0,30:5,0.0,20160128.0,20160201.0,1,4.0,0,...,0,0,0.833333,30,5,1,1,0,1,True
667633,146326,2146,3478.0,100:10,0.0,20160125.0,20160212.0,0,1.0,0,...,0,0,0.900000,100,10,1,1,0,0,True
667726,3399008,5341,11539.0,30:5,0.0,20160207.0,20160211.0,1,7.0,0,...,0,1,0.833333,30,5,1,1,0,1,True
667732,1437872,7706,416.0,100:10,4.0,20160129.0,20160202.0,1,5.0,0,...,0,0,0.900000,100,10,1,0,0,0,True
667750,212662,2934,5686.0,30:5,2.0,20160321.0,20160330.0,1,1.0,0,...,0,0,0.833333,30,5,1,0,0,1,True
667752,212662,2934,5686.0,30:5,2.0,20160321.0,20160322.0,1,1.0,0,...,0,0,0.833333,30,5,1,0,0,1,True

In [14]:
original_feature = ['discount_rate',
                    'DiscountMax',
                    'discount_type',
                    'discount_man', 
                    'discount_jian',
                    'Distance',
                    'DistanceZero',
                    'weekday', 
                    'weekday_type'] + weekdaycols
print(len(original_feature),original_feature)

16 ['discount_rate', 'DiscountMax', 'discount_type', 'discount_man', 'discount_jian', 'Distance', 'DistanceZero', 'weekday', 'weekday_type', 'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'weekday_7']

In [15]:
predictors = original_feature
print(predictors)

def check_model(data, predictors):
    
    classifier = lambda: SGDClassifier(
        loss='log', 
        penalty='elasticnet', 
        fit_intercept=True, 
        max_iter=100, 
        shuffle=True, 
        n_jobs=1,
        class_weight=None)

    model = Pipeline(steps=[
        ('ss', StandardScaler()),
        ('en', classifier())
    ])

    parameters = {
        'en__alpha': [ 0.001, 0.01, 0.1],
        'en__l1_ratio': [ 0.001, 0.01, 0.1]
    }

    folder = StratifiedKFold(n_splits=3, shuffle=True)
    
    grid_search = GridSearchCV(
        model, 
        parameters, 
        cv=folder, 
        n_jobs=-1, 
        verbose=1)
    grid_search = grid_search.fit(data[predictors], 
                                  data['label'])
    
    return grid_search

['discount_rate', 'DiscountMax', 'discount_type', 'discount_man', 'discount_jian', 'Distance', 'DistanceZero', 'weekday', 'weekday_type', 'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'weekday_7']

In [16]:
model = check_model(train, predictors)

Fitting 3 folds for each of 9 candidates, totalling 27 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  27 out of  27 | elapsed:  5.6min finished
D:\Anaconda\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anaconda\Anaconda3\lib\site-packages\sklearn\base.py:465: DataConversionWarning: Data with input dtype uint8, int64, float64, object were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
D:\Anaconda\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)

In [17]:
y_valid_pred = model.predict_proba(valid[predictors])
valid1 = valid.copy()
valid1['pred_prob'] = y_valid_pred[:, 1]

D:\Anaconda\Anaconda3\lib\site-packages\sklearn\pipeline.py:381: DataConversionWarning: Data with input dtype uint8, int64, float64, object were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [18]:
from sklearn.metrics import roc_auc_score, accuracy_score
auc_score = roc_auc_score(y_true=valid.label, y_score=y_valid_pred[:,1])
acc = accuracy_score(y_true=valid.label, y_pred=y_valid_pred.argmax(axis=1))
print("Validation AUC: {:.3f}, Accuracy: {:.3f}".format(auc_score, acc))
#0.772

Validation AUC: 0.767, Accuracy: 0.952

In [19]:
dftest.columns

Index(['User_id', 'Merchant_id', 'Coupon_id', 'Discount_rate', 'Distance',
       'Date_received', 'weekday', 'weekday_type', 'weekday_1', 'weekday_2',
       'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'weekday_7',
       'discount_rate', 'discount_man', 'discount_jian', 'discount_type'],
      dtype='object')

In [20]:
dftest['DistanceZero'] = dftest['discount_type']
dftest['DistanceNintynine'] = dftest['discount_type']
dftest['DiscountMax'] = dftest['Discount_rate']

In [21]:
for i in range(dftest['Distance'].size) :
    if dftest['Distance'].values[i] == 99 :
        dftest['DistanceNintynine'].values[i] = 1
    else :
        dftest['DistanceNintynine'].values[i] = 0
    if dftest['Distance'].values[i] == 0:
        dftest['DistanceZero'].values[i] = 1
    else :
        dftest['DistanceZero'].values[i] = 0

In [22]:
for i in range(dftest['discount_man'].size) :
    if dftest['discount_man'].values[i] < 100 :
        dftest['DiscountMax'].values[i] = 1
    else :
        dftest['DiscountMax'].values[i] = 0

In [23]:
targetset = dftest.copy()
print(targetset.shape)
targetset = targetset[~targetset.Coupon_id.isna()]
targetset.reset_index(drop=True, inplace=True)

(306313, 22)

In [24]:
testset = targetset[predictors].copy()
y_test_pred = model.predict_proba(testset[predictors])
test1 = testset.copy()
test1['pred_prob'] = y_test_pred[:, 1]
print(test1.shape)

(306313, 17)

D:\Anaconda\Anaconda3\lib\site-packages\sklearn\pipeline.py:381: DataConversionWarning: Data with input dtype uint8, int64, float64, object were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [25]:
output = pd.concat((targetset[["User_id", "Coupon_id", "Date_received"]], test1["pred_prob"]), axis=1)
print(output.shape)

output.loc[:, "User_id"] = output["User_id"].apply(lambda x:str(int(x)))
output.loc[:, "Coupon_id"] = output["Coupon_id"].apply(lambda x:str(int(x)))
output.loc[:, "Date_received"] = output["Date_received"].apply(lambda x:str(int(x)))
output["uid"] = output[["User_id", "Coupon_id", "Date_received"]].apply(lambda x: '_'.join(x.values), axis=1)
output.reset_index(drop=True, inplace=True)

(306313, 4)

In [26]:
### NOTE: YOUR SUBMITION FILE SHOULD HAVE COLUMN NAME: uid, label
out = output.groupby("uid", as_index=False).mean()
out = out[["uid", "pred_prob"]]
out.columns = ["uid", "label"]
out.to_csv("baseline_example.csv", header=["uid", "label"], index=False) # submission format
out.head()

                     uid     label
0  1000020_2705_20160519  0.187662
1  1000020_8192_20160513  0.158555
2  1000065_1455_20160527  0.114141
3  1000085_8067_20160513  0.129829
4  1000086_2418_20160613  0.126467

In [27]:
valid['DiscountMax'].size

79216

In [28]:
targetset = dftest.copy()
print(targetset.shape)
targetset = targetset[~targetset.Coupon_id.isna()]
targetset.reset_index(drop=True, inplace=True)
testset = targetset[predictors].copy()

y_test_pred = model.predict_proba(testset[predictors])
test1 = testset.copy()
test1['pred_prob'] = y_test_pred[:, 1]
print(test1.shape)

(306313, 22)
(306313, 17)

D:\Anaconda\Anaconda3\lib\site-packages\sklearn\pipeline.py:381: DataConversionWarning: Data with input dtype uint8, int64, float64, object were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [29]:
output = pd.concat((targetset[["User_id", "Coupon_id", "Date_received"]], test1["pred_prob"]), axis=1)
print(output.shape)

output.loc[:, "User_id"] = output["User_id"].apply(lambda x:str(int(x)))
output.loc[:, "Coupon_id"] = output["Coupon_id"].apply(lambda x:str(int(x)))
output.loc[:, "Date_received"] = output["Date_received"].apply(lambda x:str(int(x)))
output["uid"] = output[["User_id", "Coupon_id", "Date_received"]].apply(lambda x: '_'.join(x.values), axis=1)
output.reset_index(drop=True, inplace=True)

(306313, 4)

In [31]:
### NOTE: YOUR SUBMITION FILE SHOULD HAVE COLUMN NAME: uid, label
out = output.groupby("uid", as_index=False).mean()
out = out[["uid", "pred_prob"]]
out.columns = ["uid", "label"]
out.to_csv("baseline_example.csv", header=["uid", "label"], index=False) # submission format
out.head()

                     uid     label
0  1000020_2705_20160519  0.187662
1  1000020_8192_20160513  0.158555
2  1000065_1455_20160527  0.114141
3  1000085_8067_20160513  0.129829
4  1000086_2418_20160613  0.126467